.card {
  border: 1px solid #e4e2e2;
  border-radius: 30px;
  margin: 10px;
  padding: 15px;
  width: 350px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.card-com {
  border: 1px solid #e4e2e2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 230px;
  height: 30px;
  font-size: 20px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.com {
  margin-left: 10px;
}